body {
  background-color: #f1f3fb;
  padding: 0 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #322329;
}

main {
  background-color: #fff;
  padding: 0 10px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Left Column */
.left-column img {
  width: 400px;
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  object-fit: cover;
}

/* Right Column */

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid #e1e8ee;
}
.breadcumb-pre {
  font-weight: 600;
}
.breadcrumb-link {
  transition: 100ms;
}
.breadcrumb-link:hover {
  color: #d33e77;
}
.breadcumb-now {
  font-weight: bold;
  color: #d33e77;
}

/* Product Heading */
.product-heading h1 {
  font-weight: 300;
  font-size: 32px;
  color: #43484d;
  letter-spacing: -2px;
}

/* Product Info */
.product-info {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}
.product-info span {
  letter-spacing: 1px;
  text-decoration: none;
}
.product-info h2 {
  font-weight: 300;
  color: #43484d;
  letter-spacing: -2px;
}

.product-info .green-text {
  color: #3f891b;
}

/* Product Description */
.product-description {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 40px;
}
.product-description h2 {
  font-weight: 300;
  font-size: 24px;
  color: #43484d;
  letter-spacing: -2px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.product-price span {
  font-size: 42px;
  font-weight: bolder;
  color: #d33e77;
  margin-right: 20px;
}

.cart-btn {
  background-color: #d33e77;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.cart-btn:hover {
  box-shadow: 0 5px 10px 0 #d33e7773;
}

.related-product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.related-product-card {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
}

.related-product-image {
  height: 100px;
}

.related-product-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.related-product-name {
  display: block;
}

.related-product-name > span {
  text-decoration: none !important;
  color: #000 !important;
}

.related-product-name span {
  display: block;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.related-product-price {
  display: flex;
  flex-direction: column;
}

.related-product-price span {
  display: block;
  color: #d33e77;
  font-size: 18px;
  font-weight: 600;
}

.related-product-info {
  font-size: 16px;
  line-height: 24px;
  margin-top: 60px;
}
.related-product-info p {
  font-weight: 300;
  color: #43484d;
  margin: 0;
}

.cart-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 0.25em;
  width: 100%;
  font-weight: 500;
  background-color: #d33e77;
  border-radius: 6px;
  color: #fff;
  border: 0;
  transition: 100ms;
}
.cart-button:hover {
  outline: 0;
  background-color: #7b1e41;
}
.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.card-info a {
  display: block;
  color: #d33e77;
  text-decoration: none;
}

.error-message {
  color: #ff4444;
  padding-bottom: 1rem;
}

/* Responsive */
@media (max-width: 940px) {
  .divider {
    display: block;
    margin: 20px 0;
    border-bottom: 2px solid #000;
    opacity: 0.15;
  }
  .category-container {
    height: 300px;
    overflow-y: auto;
  }
}
@media (max-width: 535px) {
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
  }
}
