<div class="footer-div">
  <div class="footer-text">&copy; Criado pelo Grupo 5</div>
  <div class="footer-links">
    <a target="_blank" href="https://github.com/sabrisrojo/pi-dh"
      >Repositório Git</a
    >
  </div>
</div>
