<nav class="navbar">
  <div class="navbar-flex-div">
    <div class="navbar-logo-text"><a href="/">DH Projeto Integrador</a></div>
  </div>
  <div class="navbar-flex-div">
    <ul class="navbar-list">
      <li class="navbar-list-item">
        <a class="navbar-list-item-link" href="/">Home</a>
      </li>
      <li class="navbar-list-item">
        <a class="navbar-list-item-link" href="/users/login">Login</a>
      </li>
      <li class="navbar-list-item">
        <a class="navbar-list-item-link" href="/users/register">Register</a>
      </li>
      <li class="navbar-list-item">
        <a class="navbar-list-item-link" href="/users/image">Upload</a>
      </li>
    </ul>
  </div>
</nav>
